* {
  margin:0;
  padding:0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body {
  background: white;
  color: #fff;

}


#header{
  width:100%;
  height:100vh;

}

.container{
  padding: 20px 10%;

}
/*
.bubbles{
  position: absolute;
  left: 0px;

  display: flex;
}



.bubbles span{
  z-index: -1;
  position: relative;
  width: 30px;
  height: 30px;
  background: #232d4b91;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #232d4b2c,
  0 0 50px #232d4b6c,
  0 0 100px #232d4b63;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
  border-radius: 50%;
  background: #e572008e;
  box-shadow: 0 0 0 10px #e572003a,
  0 0 50px #e5720080,
  0 0 100px #e572007e;
}

@keyframes animate{
  0%{
    transform: translateY(335vh) scale(0.1);
  }
  100%{
    transform: translateY(-15vh) scale(1);  
  }
}*/


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background: #232D4B;
  z-index: 99;
  padding: 4px 12px;
}

.logo{
  width: 75px;
  margin-right: auto;
  margin-left: 25px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 25px;
}

nav ul li a{
  color: #E57200;
  font-weight: 450;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}



nav ul li a::after{
  content: '';
  width: 0;
  height:3px;
  background: #E57200;
  position:absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{ 
  width:100%;
}

.container .header-text{
  width:100%;
  height:100vh;
}

.header-text .text{
  position: relative;
  font-size: 60px;
  top: 25%;
  margin-top: 25%;
  font-weight: 600;
  color:#E57200;
}
.header-text .text.noChange{
  color: #232D4B;
}

.text.changeText:before{
  content: "";
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: white;
  border-left: 2px solid #E57200;;
  animation: type 4s steps(17) infinite;
}

@keyframes type {
  40%, 60%{
    left:100%;
  }
  100%{
    left:0%;
  }
  
}




#about{
  padding:80px 0px;
  margin-left: 5%;
  color: rgba(0, 0, 0, 0.9);

}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap; 
}

.about-col-1{
  flex-basis: 38%;
}

.about-col-1 img{
  width:100%;
  border-radius: 15px;
}

.about-col-2{
  flex-basis: 57%;
}

.sub{
  padding-bottom: 20px;
  margin-left: 125px;
  font-size: 60px;
  font-weight: 600;
  color:#E57200;
}

.tab-titles{
  display: flex;
  color:#232D4B;
  margin: 20px 0 40px;
}

.tab-links{
  margin-left: 100px;
  margin-right: 150px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links:hover{
  color: #E57200;
}
.tab-links::after{
  content:'';
  width:0;
  height:3px;
  background: #E57200;
  position:absolute;
  left:0;
  bottom:-8px;
  transition: .5s;
}

.tab-links.a::after{
  width:75%;
}

.tab-contents ul li{
  list-style: none;
  color:#232D4B;
  margin: 10px 0;

}

.tab-contents ul li span{
  font-size: 14px;
  font-weight: 559;
  color:#E57200;
}

.tab-contents{
  display:none;
}

.tab-contents.active{
  display:block;
}

.des{
  color:#232D4B;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color:#E57200;
}

#projects{
  padding:50px 0;
}


.project-list{

  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.project{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  

}

.project img{
  width:100%;
  height:500px;
  border-radius:10px;
  display:block;
  border-radius: 10px;
  transition: transform .5s;
  background: rgb(223, 219, 219);
}
.project:hover img{
  transform: scale(1.2);

}

.layer{
  width:100%;
  height:0;
  background: linear-gradient(#e57200b4,#232d4bb9);
  border-radius: 10px;
  position:absolute;
  left:0;
  bottom:0;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  color: white;
  transition: height .5s;
}

.project:hover .layer{
  height:100%;

}
.layer h3{
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 28px;

}

.layer a{
  margin-top: 20px;
  color: #E57200;
  text-decoration: none;
  font-size: 40px;
  line-height: 60px;
  background: #232D4B;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  transition: background .3s, color .3s;
}

.layer a:hover{
  color:#232D4B;
  background: #E57200;

}

.btn{
  display: block;
  margin: 30px auto;
  width: fit-content;
  padding: 14px 50px;
  border-radius: 50px;
  text-decoration: none;
  color: #E57200;
  background: #232D4B;
  transition: background .3s, color .3s;
}

.btn:hover{
  color:#232D4B;
  background: #E57200;

}


.contact-left{
  flex-basis: 38%;
}

.contact-right{
  flex-basis: 57%;
}

.contact-left p{
  margin-top: 30px;
  color: #232D4B;
  font-size: 16px;
}


.contact-left p i{
  font-size: 20px;
  margin-right: 10px;
}

.contact-right form{
  width:100%;
}

form input, form textarea{
   width: 100%;
   border:0;
   outline: none;
   background: #9494945b;
   padding: 15px;
   margin: 15px 0;
   color:rgb(29, 29, 29);
   font-size: 18px;
   border-radius: 7px;
}

form .btn1{

  border: none;
  display: block;
  margin: 50px auto;
  width: fit-content;
  border-radius: 7px;
  text-decoration: none;
  color: #E57200;
  background: #232D4B;
  padding: 14px 50px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.bottom{
  width:100%;
  text-align:center;
  padding: 25px 0;
  background:#232D4B;
  font-weight: 500;
  margin-top: 20px;
  color:#E57200
}

#msg{
  color:green;
  margin-top: -10px;
  display:block;

}
