body{
    background: rgba(35, 45, 75, 1);

}
h1 {
    text-align: center;
   /* animation-name: changeh;*/
    animation-duration: 2s;
    text-shadow: 2px 2px black;
    font-variant: small-caps;
    font-size: 50px;
    margin-bottom: 75px;
    color:rgba(248, 76, 30, 1);
}
h2 {
    text-align: center;
    margin-top: 0px;
    font-size: 35px;
   /* animation-name: changeh;*/
    animation-duration: 2s;
    font-variant: small-caps;
    text-shadow: 2px 2px black;
    color:rgba(248, 76, 30, .95);
}
p{
   /* animation-name: change;*/
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 100px;
    animation-duration: 4s;
    font-size: 20px;
    font-family: Georgia, serif;
    text-shadow: .5px .5px black;
    color:rgba(248, 76, 30, .8);
}
a{
   /* animation-name: change; */
    font-size: 16px;
    animation-duration: 4s;
    font-family: Georgia, serif;
    text-shadow: .5px .5px black;
    color:rgba(248, 76, 30, .7);
}
.column {
    flex:50%;
  }
  
.row {

    display: flex;

}

@keyframes changeh {
    0%   {color: rgba(35, 45, 75, 1);}
 
    0%   {transform: translate(200px, 200px);}
    0%   {text-shadow: 2px 2px rgba(35, 45, 75, 1);}
    100% {text-shadow: 2px 2px black;}
    100% {color: rgba(248, 76, 30, 1);}
  }
  @keyframes change {
    0%   {transform: translate(00px, 00px);}
    0%   {text-shadow: .25px .25px rgba(35, 45, 75, 1);}
    0%   {color: rgba(35, 45, 75, 1);}
    100%   {text-shadow: .5px .5px black};
    100% {color: rgba(248, 76, 30, 1);}
  }

